<div class="container">
  <div class="row">
    <div>
      <h1>Unitead States of America</h1>
      <h3>Manners</h3>
      <h3>Transformation</h3>

    </div>
    <div>
      <h1>Tips</h1>
       <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <% @tips.each do |tip| %>
          <tr>
            <td><%= link_to tip.title, tip_path(tip.id) %></td>
            <td><%= tip.body %></td>
            <td><%= attachment_image_tag tip, :image, size: '50x50', format: 'jpeg' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>